.course-box{
    width: 500px;
    margin-left: 300px
}
.course-title{
    text-align: center;
}
.error{
    color: red;
}
.img-course{
    width: 100px;
    height: 50px;
}
.name-course{
    width: 200px;
}
.col-img-course{
    width: 100px;
}
.col-action{
    width: 200px;
}
.col-name-subject{
    width: 450px;
}
.right{
    float: right;
}
.option-course{
    float: right;
    width: 250px;
}
.img-profile {
    height: 250px;
    width: 250px;
    margin-left: 165px;
}
.box-profile {
    width: 250px;
    margin-left: 225px;
    margin-top: 20px;
}
.profile-modal {
    text-align: center;
}
